<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @support_bundle.uid %>
</p>

<p>
  <strong>Date uploaded:</strong>
  <%= @support_bundle.date_uploaded %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @support_bundle.date_created %>
</p>

<p>
  <strong>Company:</strong>
  <%= @support_bundle.company %>
</p>

<p>
  <strong>Model:</strong>
  <%= @support_bundle.model %>
</p>

<p>
  <strong>Error type:</strong>
  <%= @support_bundle.error_type %>
</p>

<p>
  <strong>Environment:</strong>
  <%= @support_bundle.environment %>
</p>

<p>
  <strong>Unit type:</strong>
  <%= @support_bundle.unit_type %>
</p>

<p>
  <strong>Firmware:</strong>
  <%= @support_bundle.firmware %>
</p>

<%= link_to 'Edit', edit_support_bundle_path(@support_bundle) %> |
<%= link_to 'Back', support_bundles_path %>
